img {
  box-sizing: border-box;
}
a {
  display: flex;
  text-decoration: none;
  color: #F9FAF8;
  font-size: 24px;
}
body {
  display: flex;
  flex-direction: column;
}
button {
  background-color:#3882F6;
  color:#F9FAF8;
  border-radius: 10px;
  padding: 2px 12px 2px 12px;
  border-color:#3882F6;
}
h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: -16px;
}
.header {
  display: flex;
  font-size: 24px;
  background-color: #1F2937;
  justify-content: space-between
}
.about {
  display: flex;
  gap: 24px;
  margin-right: 100px;
}
.logo {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}
.top {
 display: flex;
 justify-content: space-between;
 background-color:#1F2937;
 height: 400px;
}
.top-left {
  color: #F9FAF8;
  margin-left: 100px;
}
.odin {
  display: flex;
  height: 300px;
  width: 350px;
  margin: 100px;
  margin-top: 50px;
  flex: 0;
}
.second {
  font-size: 18px;
  color: #E5E7EB;
}

.container {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}
.body {
  display: flex;
  justify-content: center;
  gap: 64px;
}
.thor {
  max-height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  object-fit: cover;
}
.freyja {
  display: flex;
  height: 150px;
  width: 150px;
  font-size: 24px;
  flex-direction: column;
}
.balder {
  height: 150px;
  width: 150px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.loki {
  height: 150px;
  width: 150px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.middle {
  display: flex;
  background-color: #E5E7EB;
  margin-top: 64px;
  flex-direction: column;
  align-items: center;
}
.quote {
  display: flex;
  font-size: 16px;
  color: #1F2937;
  font: "light italic";
  flex-wrap: wrap;
  max-height: 600px;
  max-width: 300px;
}
.name {
  margin-left: 300px;
  font-size: 24px;
}
.bottom {
  display: flex;
  background-color: #3882F6;
  justify-content: center;
  gap: 100px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
}
.action {
  font-size: 24px;
}
.sign {
  margin-top: 24px;
}
.fotter {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: #E5E7EB;
}

